body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-size: 1.4em;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background-color: black;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}



.display {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: end;
    height: 30px;
    background-color: gray;
    padding: 8px;
    margin-bottom: 8px;
}

.calculator {
    display: flex;
}

.btns {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 200px;
    height: fit-content;
    justify-content: flex-end;
   
}

.numbers {
    background-color:aliceblue;
}

.ops {
    background-color: orange;
}

.number-part {
    gap: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}